In [82]:
import pandas as pd
import numpy as np
df = pd.read_csv('FoodBalanceSheets.csv', encoding = 'latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [84]:
df.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [85]:
df.duplicated().any()

False

#### Quiz Questions

In [87]:
# Question 1:  Group by 'Area' and calculate the sum for 'Y2017'

grouped = df.groupby('Area')['Y2017'].sum().reset_index()

# Sort the grouped data by the sum of 'Y2017' in ascending order
sorted_grouped = grouped.sort_values(by='Y2017', ascending=True)

# Find the Area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_grouped.iloc[6]['Area']

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [90]:
# Question 2: Group by 'Element' and sum 'Y2015' and 'Y2018' where 'Item' is 'Production'

production_df = df[df['Item'] == 'Wine'].groupby('Item')['Y2015', 'Y2018'].sum()

print(production_df)

        Y2015    Y2018
Item
Wine  4251.81  4039.32

C:\Users\njoku\AppData\Local\Temp\ipykernel_23120\3631164728.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  production_df = df[df['Item'] == 'Wine'].groupby('Item')['Y2015', 'Y2018'].sum()

In [91]:
# Question 3: Group by 'Element' and calculate the sum of 'Y2017' for 'Processing'

processing_2017_sum = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()

print(processing_2017_sum)

Element
Processing    292836.0
Name: Y2017, dtype: float64

In [92]:
# Question 5

S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [107]:
# Question 6

# Select the columns for the year 2017
year_2017 = ['Y2017']

# Calculate the mean and standard deviation for the selected columns
mean_2017 = df[year_2017_columns].mean().round(2)
std_deviation_2017 = df[year_2017_columns].std().round(2)

print("Mean for 2017:")
print(mean_2017)

print("\nStandard Deviation for 2017:")
print(std_deviation_2017)

Mean for 2017:
Y2017    140.92
dtype: float64

Standard Deviation for 2017:
Y2017    1671.86
dtype: float64

In [94]:
# Question 7

# To know number of rows and columns 
df.shape

(60943, 12)

In [95]:
# Question 10

# Group by 'Element' and calculate the sum of 'Stock Variation' for each year
element_grouped = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum of 'Stock Variation'
highest_stock_variation_year = element_grouped.idxmax(axis=1)

print("Year with the highest sum of Stock Variation:", highest_stock_variation_year[0])

Year with the highest sum of Stock Variation: Y2014

In [96]:
# Question 11

df['Area'].nunique()

49

In [97]:
# Question 12

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [99]:
# Question 13

# Group by 'Area' and calculate the sum of 'Y2017' for each area
area_grouped = df.groupby('Area')['Y2017'].sum()

# Find the area with the highest sum in 2017
area_with_highest_sum = area_grouped.idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

In [100]:
# Question 14

# Create a list of year columns
year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

# Calculate the correlation between 'Element Code' and each year
correlation_with_element_code = {}

for year_column in year_columns:
    correlation = df['Element Code'].corr(df[year_column])
    correlation_with_element_code[year_column] = correlation

# Find the year with the least correlation
year_with_least_correlation = min(correlation_with_element_code, key=correlation_with_element_code.get)

print("Year with the least correlation with 'Element Code':", year_with_least_correlation)

Year with the least correlation with 'Element Code': Y2016

In [101]:
# Question 15

my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [102]:
# Question 16

# Given list of tuples
y = [(2, 4), (7, 8), (1, 5, 9)]

# Assign element 8 to variable x
x = y[1][1]

# Print the value of x
print(x)

8

In [104]:
# Question 17

# To calculate the total protein supply quantity for Madagascar in 2015
madagascar_data = df[df['Area'] == 'Madagascar']

# Extract the value from the 'Y2015' column for Protein supply quantity
protein_supply_2015 = madagascar_data['Y2015'].values[0]

print("Total Protein supply quantity in Madagascar in 2015:", protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 24234.0

In [77]:
# Question 18

# Count the total number of missing values in the 'Y2014' column
missing_data_count = df['Y2014'].isnull().sum()

# Calculate the total number of data points in the 'Y2014' column
total_data_points = df['Y2014'].count() + missing_data_count

# Calculate the percentage of missing data in 2014
percentage_missing_data = (missing_data_count / total_data_points) * 100

# Format the percentage to three decimal places
percentage_missing_data = round(percentage_missing_data, 3)

print("Total number of missing data in 2014:", missing_data_count)
print("Percentage of missing data in 2014:", percentage_missing_data, "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

In [79]:
# Question 20

# Given list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]

# Column names
col = ['Age', 'Nationality', 'Overall']

# Create a DataFrame
df = pd.DataFrame(lst, columns=col, index = [1,2,3])

# Display the DataFrame
print(df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92